@font-face {
  font-family: "Vazirmatn";
  src: url(./Vazirmatn-VariableFont_wght.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Vazirmatn", sans-serif !important;
  background-color: bisque !important;
}

.profileBackground {
    width: 98vw;
    margin: 0 auto;
    height: 20vh;
    background-image: url(./4e9abc9c38f6f3b725f3803fddbfc79b.jpg!sw800);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 250px 250px;
}

.profile {
    text-align: center;
}

.profile-background {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: -45px;
    margin-bottom: 12px;
    background-image: url(./original-390889c663518e305b4544e04c1aed1a.png);
    background-position: center;
    background-size: cover;
}

.container div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px auto;
    padding: 8px;
    border-radius: 8px;
}

.line-container {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: bisque;
}

.line-first {
    background-image: linear-gradient(to left, white , black);
}
.line-last {
    background-image: linear-gradient(to right, white , black);
}

.line {
    height: 1px;
    width: 40%;
 
}

